body
{
	font-family: arial;
	font-size: 1.5em;
	text-align: center;
}
table, th, td
{
  border: 2px solid;
  border-style: solid;
  /* border-style: solid ridge solid groove; */
  padding: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#table
{
	margin-top: 1em;
	/*padding-top: 1em;*/
}
#end
{
  color: white;
  background-color: black;
}
#startingNumbers
{
	font-size: 5em;
}
#buttonsDiv
{
  background-color: black;
}
#banner
{
	color: black;
	margin: 0;
}
#tilesDiv
{
  position: absolute;
  /* border: 5px solid black; */
  /* border-right: 1px solid black; */
  /*width: 25em;*/
  /*height: 25em;*/
  width: 100vw;
  height: 85vh;
  /*margin-left: 50%;*/
  /*margin-right: auto;*/
  top: 15%;
  /* margin: 0 auto; */
  /* left: 28%; */
}
.buttons
{
	border: none;
	padding: 5px 20px;
	color: white;
	background-color: black;
	text-align: center;
	margin: 0;
}
.buttons:hover
{
	color: black;
	background-color: white;
	/*background-color: #d9d9d9;*/
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.tiles
{
  /*border: none;
  color: white;*/
  background-color: white;
  border-radius: 50%;
  width: 4vw;
  height: 4vw;
/*   background-color: black; */
  /*margin: 0;
  width: 50px;
  height: 50px;*/
}
/*.tiles:hover
{
  color: black;
  background-color: white;
}*/
/* .background
{
  background: url(space.png) no-repeat center center;
  background-size: cover; 
} */
.oneW
{
  position: absolute;
  left: 5%;
}
.twoW
{
  position: absolute;
  left: 15%;
}
.threeW
{
  position: absolute;
  left: 25%;
}
.fourW
{
  position: absolute;
  left: 35%;
}
.fiveW
{
  position: absolute;
  left: 45%;
}
.sixW
{
  position: absolute;
  left: 55%;
}
.sevenW
{
  position: absolute;
  left: 65%;
}
.eightW
{
  position: absolute;
  left: 75%;
}
.nineW
{
  position: absolute;
  left: 85%;
}
.tenW
{
  position: absolute;
  left: 95%;
}
.oneH
{
  position: absolute;
  top: 0%;
}
.twoH
{
  position: absolute;
  top: 10%;
}
.threeH
{
  position: absolute;
  top: 20%;
}
.fourH
{
  position: absolute;
  top: 30%;
}
.fiveH
{
  position: absolute;
  top: 40%;
}
.sixH
{
  position: absolute;
  top: 50%;
}
.sevenH
{
  position: absolute;
  top: 60%;
}
.eightH
{
  position: absolute;
  top: 70%;
}
.nineH
{
  position: absolute;
  top: 80%;
}
.tenH
{
  position: absolute;
  top: 90%;
}
@media only screen and (max-device-width: 480px)
{
	.tiles
	{
		width: 5vw;
		height: 5vw;
	}
	#tilesDiv
	{
	  position: absolute;
	  width: 90vw;
	  height: 60vh;
	  top: 30%;
	}
}
@media only screen and (max-device-width: 480px) and (orientation: landscape)
{
	.tiles
	{
		width: 3.5vw;
		height: 3.5vw;
	}
	#tilesDiv
	{
	  position: absolute;
	  width: 90vw;
	  height: 65vh;
	  top: 30%;
	}
}
